html,
body {
    margin: 0;
    padding: 0;
    background: url("img/table.png") no-repeat center center/cover;
    font-family: "Exo 2", sans-serif;
    /* height: 100vh; */
}

body {
    color: white;
}

main {
    /* border: 1px solid red; */
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cards {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

button#new-deck {
    align-self: flex-start;
    padding: 5px;
}

button.draw {
    font-size: 1.3em;
    padding: 12px 30px;
    border-radius: 4px;
    /* align-self: stretch; */
}

div.card-slot {
    border: 1px solid black;
    border-radius: 11px;
    height: 280px;
    width: calc(280px * 5/ 7);
}


img.card {
    width: 100%;
    height: 100%;
}

div.top {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
}

div.top>p {
    margin: 0;
    margin-left: 10px;
}

button:disabled {
    cursor: not-allowed;
}

h2 {
    margin: 10px;
}